@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('http://fonts.cdnfonts.com/css/times-new-roman');
@import url('http://fonts.cdnfonts.com/css/arial');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    text-align: center;
    background: #EFEFEF;
    width: 100%;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #fff;
  height: 80px;
  width: 100%;
}
.logo{
  float: left;
  color: white;
}
.logo img{
  padding-top: 15px;
    padding-left: 25px;
  width: 55%;
}
.logo p{
    margin-top: -25px;
    margin-right: -190px;
    font-family: 'Segoe UI', sans-serif;
    color: #707070;
    font-size: 15px;
}
nav .a{
  float: right;
  margin-right: 5px;
}
nav .a p{
    margin: 25px 50px; 
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    color: #0A0909;
}
nav .a li{
  display: flex;
 
  margin: 5px 20px;
}
nav .a li a{
  text-decoration: none;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
    color: #000;
}
nav .tooltip{
    position: absolute;
    transform: rotate(45deg);
    display: none;
}
nav .tooltip.show{
    display: block;
}
nav .wrapper{
    position: absolute;
    display: flex;
    overflow: hidden;
    background: #fff;
    display: none;
    transition: all 0.3s ease;
    width: 515px;
    height: 500px;
    color: #2A2727;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    line-height: 2rem;
    z-index: 1;
    
}
nav .wrapper h6{
    color: #2A2727;
    font-size: 25px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    line-height: 0.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
 nav .wrapper.show{
    display: block;
    display: flex;
}
.wrapper ul{
    list-style: none;
}
.wrapper ul li a{
    position: relative;
    color: #000 ;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
/*@media (max-width: 858px){
  .checkbtn{
    display: block;
    color: black;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    z-index: 1;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}*/

ul #change-img{
  width: 16px;
}


.container{
  width: 500px;
  height: 480px;
  margin: 8% auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
    border: 1px solid #000;
}
h3{
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.sub-title{
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.container form{
  width: 400px;
  position: absolute;
  top: 50px;
  left: 40px;
  transition: 0.5s;
}
.container form input{
    width: 100%;
    padding-top: 30px;
    border: 1px solid #000;
    padding-bottom: 10px;
    padding-left: 15px;
    outline: none;
    font-family: "Arial", Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    background-color: #EFEFEF;
    color: #605C5C;
}
.container form .label-name{
  padding-top: 5px;
  position: absolute;
  text-align: left;
  float: left;
  left: 4%;
  pointer-events: none;
  font-family: "Arial", Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #7759DC;
}
.container form .content-color{
  color: #DC5959 !important;
}
.container h3{
    font-family: "Arial", Arial, sans-serif;
    color: #0A0909;
}
.container p{
    font-family: "Arial", Arial, sans-serif;
    font-size: 15px;
    color: #312C2C;
}
.form-sub-header{
  font-family: "Arial", Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    color: #605C5C;
    letter-spacing: -0.6px;
    margin-top: 2px;
    line-height: 1.2;
    margin-bottom: 30px;
}
@media (max-width: 500px){
  .container{
    width: 350px;
    height: 560px;
  }
  .container form{
    width: 260px;
    position: absolute;
    top: 50px;
    left: 40px;
    transition: 0.5s;
  }
}

form input{
  width: 100%;
  padding: 10px 5px;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;

}
::placeholder{
  color: #777;
  font-size: 20px;
}
.btn-box{
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button{
  width: 100%;
  height: 40px;
  margin: 0 0px;
  background: black;
  border-radius: 5px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.box{
  width: 100%;
  min-height: 200px;
  background: #F6EFEF;
  display: flex;
  flex-flow: column;
}

.part1 h3{
  margin-left: -70px;
  margin-top: 30px;
  font-size: 20px !important;
}
.onoffswitch{
    position: relative;
    width: 58px;
    float: right;
    top: -40px;
    right: 40px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
@media (max-width: 500px){
  .part1 h3{
    margin-left: 0px;
  }
  .onoffswitch{
    top: -10px;
  }
}
.onoffswitch-checkbox{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label{
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 22px;
    padding: 0;
    line-height: 36px;
    border: 2px solid #000;
    border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before{
    content: "";
    display: block;
    width: 26px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    border: 2px solid #000;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label{
    background-color: #000000;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before{
    border-color: #000000;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before{
    right: 0px;
}



#Form2{
  left: 500px;
}
#Form3{
  left: 500px;
}
#Form4{
  left: 500px;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
}

.footer-bottom{
    background: #fff;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 18px;
    word-spacing: 2px;
    text-transform: capitalize;
        color: #0A0909;
    font-family: 'Segoe UI', sans-serif;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
